<!--login modal-->
<div id="loginModal" class="show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <h1 class="text-center">Login</h1>
      </div>
      <div class="modal-body">
          <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="form col-md-12 center-block">
            <div class="form-group">
              <input type="text" name="username" class="form-control input-lg" [(ngModel)]="user.username" #username="ngModel" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control input-lg" [(ngModel)]="user.password" #password="ngModel" placeholder="Password">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">Sign In</button>
              <span class="pull-right"><a routerLink="/register" class="btn btn-link">Register</a></span>
            </div>
          </form>
      </div>
  </div>
  </div>
</div>